# Holidays

In Bayern and NRW Dec 2019 - 2022

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib
import re
import datetime as dt

In [3]:
df = pd.read_csv("../data/holidays_org.csv")

In [4]:
df.head(10)

,nat. holidays since Dec2019,related brueckentage 2019,bayern,start_sholiday_by,end_sholiday_by,start_sholiday_nrw,end_sholiday_nrw,st_carnival,en_carnival
0,2019-12-24,2019-12-27,2020-01-06,2019-12-21,2020-01-06,2019-12-21,2020-01-06,2020-02-20,2020-02-25
1,2019-12-25,2020-05-22,2020-08-08,2020-02-22,2020-03-01,2020-04-04,2020-04-19,2021-02-11,2021-02-16
2,2019-12-26,2020-06-12,2020-08-15,2020-04-04,2020-04-19,2020-05-30,2020-06-02,2022-02-24,2022-03-01
3,2020-01-01,2021-05-14,2021-01-06,2020-06-01,2020-06-14,2020-06-27,2020-08-11,NaN,NaN
4,2020-04-10,2021-06-04,2022-01-06,2020-07-25,2020-09-07,2020-10-10,2020-10-25,NaN,NaN
5,2020-04-12,2022-05-27,2022-08-08,2020-10-31,2020-11-08,2020-12-19,2021-01-06,NaN,NaN
6,2020-05-01,2022-06-17,2022-08-15,2020-12-19,2021-01-10,2021-03-27,2021-04-11,NaN,NaN
7,2020-05-21,NaN,NaN,2021-03-27,2021-04-11,2021-05-22,2021-05-25,NaN,NaN
8,2020-06-01,NaN,NaN,2021-05-22,2021-06-06,2021-07-03,2021-08-17,NaN,NaN
9,2020-06-11,NaN,NaN,2021-07-30,2021-09-13,2021-10-09,2021-10-24,NaN,NaN

In [5]:
# deldays, the days with will be flag or excluded for the model
df_deldays = df['nat. holidays since Dec2019']     
df_deldays=pd.DataFrame(df_deldays)
df_deldays.insert(1, 'holidays', 1)

In [6]:
df_deldays.rename(columns={"nat. holidays since Dec2019": "date"},inplace=True)

In [7]:
df_deldays

          date  holidays
0   2019-12-24         1
1   2019-12-25         1
2   2019-12-26         1
3   2020-01-01         1
4   2020-04-10         1
5   2020-04-12         1
6   2020-05-01         1
7   2020-05-21         1
8   2020-06-01         1
9   2020-06-11         1
10  2020-10-03         1
11  2020-11-01         1
12  2020-12-24         1
13  2020-12-25         1
14  2020-12-26         1
15  2020-12-31         1
16  2021-01-01         1
17  2021-04-02         1
18  2021-04-05         1
19  2021-05-01         1
20  2021-05-13         1
21  2021-05-24         1
22  2021-06-03         1
23  2021-11-01         1
24  2021-12-24         1
25  2021-12-25         1
26  2021-12-26         1
27  2021-12-31         1
28  2022-01-01         1
29  2022-04-15         1
30  2022-04-18         1
31  2022-05-01         1
32  2022-05-26         1
33  2022-06-06         1
34  2022-06-16         1
35  2022-10-03         1
36  2022-11-01         1
37  2022-12-24         1
38  2022-12-25         1
39  2022-12-26         1
40  2022-12-31         1

In [8]:
# forming dataset/df
df_brudays = df['related brueckentage 2019']     
df_brudays=pd.DataFrame(df_brudays)        ## important to create DataFrame df_brudays
df_brudays.insert(1, 'brudays', 1)
df_brudays.rename(columns={"related brueckentage 2019": "date"},inplace=True)

In [9]:
df_brudays.head(10)

         date  brudays
0  2019-12-27        1
1  2020-05-22        1
2  2020-06-12        1
3  2021-05-14        1
4  2021-06-04        1
5  2022-05-27        1
6  2022-06-17        1
7         NaN        1
8         NaN        1
9         NaN        1

In [10]:
df_deldays.loc[41] = [pd.to_datetime('2019-12-27', format='%Y-%m-%d'), 1]  # adding a row
 # df.index = df.index + 1  # shifting index
 # df = df.sort_index()  # sorting by index

In [9]:
# saving the days to CSV file
df_deldays.to_csv('../data/holidays_deldays.csv', encoding='utf-8', index=False)

In [11]:
df_deldays

                   date  holidays
0            2019-12-24         1
1            2019-12-25         1
2            2019-12-26         1
3            2020-01-01         1
4            2020-04-10         1
5            2020-04-12         1
6            2020-05-01         1
7            2020-05-21         1
8            2020-06-01         1
9            2020-06-11         1
10           2020-10-03         1
11           2020-11-01         1
12           2020-12-24         1
13           2020-12-25         1
14           2020-12-26         1
15           2020-12-31         1
16           2021-01-01         1
17           2021-04-02         1
18           2021-04-05         1
19           2021-05-01         1
20           2021-05-13         1
21           2021-05-24         1
22           2021-06-03         1
23           2021-11-01         1
24           2021-12-24         1
25           2021-12-25         1
26           2021-12-26         1
27           2021-12-31         1
28           2022-01-01         1
29           2022-04-15         1
30           2022-04-18         1
31           2022-05-01         1
32           2022-05-26         1
33           2022-06-06         1
34           2022-06-16         1
35           2022-10-03         1
36           2022-11-01         1
37           2022-12-24         1
38           2022-12-25         1
39           2022-12-26         1
40           2022-12-31         1
41  2019-12-27 00:00:00         1

In [11]:
df_bysch=df[df['start_sholiday_by'].notna()]   #to drop the NaNs

In [12]:
df_bysch

,nat. holidays since Dec2019,related brueckentage 2019,bayern,start_sholiday_by,end_sholiday_by,start_sholiday_nrw,end_sholiday_nrw,st_carnival,en_carnival
0,2019-12-24,2019-12-27,2020-01-06,2019-12-21,2020-01-06,2019-12-21,2020-01-06,2020-02-20,2020-02-25
1,2019-12-25,2020-05-22,2020-08-08,2020-02-22,2020-03-01,2020-04-04,2020-04-19,2021-02-11,2021-02-16
2,2019-12-26,2020-06-12,2020-08-15,2020-04-04,2020-04-19,2020-05-30,2020-06-02,2022-02-24,2022-03-01
3,2020-01-01,2021-05-14,2021-01-06,2020-06-01,2020-06-14,2020-06-27,2020-08-11,NaN,NaN
4,2020-04-10,2021-06-04,2022-01-06,2020-07-25,2020-09-07,2020-10-10,2020-10-25,NaN,NaN
5,2020-04-12,2022-05-27,2022-08-08,2020-10-31,2020-11-08,2020-12-19,2021-01-06,NaN,NaN
6,2020-05-01,2022-06-17,2022-08-15,2020-12-19,2021-01-10,2021-03-27,2021-04-11,NaN,NaN
7,2020-05-21,NaN,NaN,2021-03-27,2021-04-11,2021-05-22,2021-05-25,NaN,NaN
8,2020-06-01,NaN,NaN,2021-05-22,2021-06-06,2021-07-03,2021-08-17,NaN,NaN
9,2020-06-11,NaN,NaN,2021-07-30,2021-09-13,2021-10-09,2021-10-24,NaN,NaN
10,2020-10-03,NaN,NaN,2021-10-30,2021-11-07,2021-12-24,2022-01-09,NaN,NaN
11,2020-11-01,NaN,NaN,2021-12-24,2022-01-09,2022-04-09,2022-04-24,NaN,NaN
12,2020-12-24,NaN,NaN,2022-02-26,2022-03-06,2022-06-25,2022-08-09,NaN,NaN
13,2020-12-25,NaN,NaN,2022-04-09,2022-04-24,2022-10-01,2022-10-16,NaN,NaN
14,2020-12-26,NaN,NaN,2022-06-04,2022-06-19,2022-12-23,2023-01-08,NaN,NaN
15,2020-12-31,NaN,NaN,2022-07-30,2022-09-12,NaN,NaN,NaN,NaN
16,2021-01-01,NaN,NaN,2022-10-29,2022-11-06,NaN,NaN,NaN,NaN
17,2021-04-02,NaN,NaN,2022-12-24,2023-01-08,NaN,NaN,NaN,NaN

To merge school holidays Bay and NRW and to get all the single days by date

In [13]:
# create a data frame with all dates which are part of the school holidays (include the weekends)
empty=[]
for index,row in df_bysch.iterrows():
    #print(row)
    start=row['start_sholiday_by'] 
# ?print(row['start_sholiday_by'])
    end=row[ 'end_sholiday_by']
    #print(row[ 'end_sholiday_by'])
    empty.append(pd.date_range(start=start, end=end))
empty

[DatetimeIndex(['2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
                '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
                '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01',
                '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
                '2020-01-06'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
                '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
                '2020-03-01'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
                '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
                '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
                '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
                '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
                '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
                '2020-06-13', '2020-06-14'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
                '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
                '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05',
                '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09',
                '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13',
                '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17',
                '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21',
                '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25',
                '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29',
                '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02',
                '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06',
                '2020-09-07'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03',
                '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07',
                '2020-11-08'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2020-12-19', '2020-12-20', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-25', '2020-12-26',
                '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30',
                '2020-12-31', '2021-01-01', '2021-01-02', '2021-01-03',
                '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07',
                '2021-01-08', '2021-01-09', '2021-01-10'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
                '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
                '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
                '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
                '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
                '2021-05-30', '2021-05-31', '2021-06-01', '2021-06-02',
                '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02',
                '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06',
                '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10',
                '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14',
                '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18',
                '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22',
                '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26',
                '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30',
                '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03',
                '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07',
                '2021-09-08', '2021-09-09', '2021-09-10', '2021-09-11',
                '2021-09-12', '2021-09-13'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-10-30', '2021-10-31', '2021-11-01', '2021-11-02',
                '2021-11-03', '2021-11-04', '2021-11-05', '2021-11-06',
                '2021-11-07'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-12-24', '2021-12-25', '2021-12-26', '2021-12-27',
                '2021-12-28', '2021-12-29', '2021-12-30', '2021-12-31',
                '2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
                '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
                '2022-01-09'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
                '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
                '2022-03-06'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
                '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
                '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
                '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-06-04', '2022-06-05', '2022-06-06', '2022-06-07',
                '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-11',
                '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15',
                '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-07-30', '2022-07-31', '2022-08-01', '2022-08-02',
                '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06',
                '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10',
                '2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14',
                '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18',
                '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-22',
                '2022-08-23', '2022-08-24', '2022-08-25', '2022-08-26',
                '2022-08-27', '2022-08-28', '2022-08-29', '2022-08-30',
                '2022-08-31', '2022-09-01', '2022-09-02', '2022-09-03',
                '2022-09-04', '2022-09-05', '2022-09-06', '2022-09-07',
                '2022-09-08', '2022-09-09', '2022-09-10', '2022-09-11',
                '2022-09-12'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01',
                '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05',
                '2022-11-06'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27',
                '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31',
                '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
                '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08'],
               dtype='datetime64[ns]', freq='D')]

In [22]:
pd.DataFrame(empty[0])

            0
0  2019-12-21
1  2019-12-22
2  2019-12-23
3  2019-12-24
4  2019-12-25
5  2019-12-26
6  2019-12-27
7  2019-12-28
8  2019-12-29
9  2019-12-30
10 2019-12-31
11 2020-01-01
12 2020-01-02
13 2020-01-03
14 2020-01-04
15 2020-01-05
16 2020-01-06

In [23]:
df = pd.Series(empty[0])

In [24]:
df

0    2019-12-21
1    2019-12-22
2    2019-12-23
3    2019-12-24
4    2019-12-25
5    2019-12-26
6    2019-12-27
7    2019-12-28
8    2019-12-29
9    2019-12-30
10   2019-12-31
11   2020-01-01
12   2020-01-02
13   2020-01-03
14   2020-01-04
15   2020-01-05
16   2020-01-06
dtype: datetime64[ns]

In [25]:
empty2 =pd.DataFrame(empty[0])
for item in empty:
    df = pd.Series(item)
    empty2.append(df, ignore_index=True)
empty2

/var/folders/mv/43241nxd07z663ggm5_d6h8h0000gn/T/ipykernel_3819/840812104.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  empty2.append(df, ignore_index=True)

            0
0  2019-12-21
1  2019-12-22
2  2019-12-23
3  2019-12-24
4  2019-12-25
5  2019-12-26
6  2019-12-27
7  2019-12-28
8  2019-12-29
9  2019-12-30
10 2019-12-31
11 2020-01-01
12 2020-01-02
13 2020-01-03
14 2020-01-04
15 2020-01-05
16 2020-01-06

In [26]:
pd.DataFrame(np.array(empty).T,dtype=object)

/var/folders/mv/43241nxd07z663ggm5_d6h8h0000gn/T/ipykernel_3819/797563784.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  pd.DataFrame(np.array(empty).T,dtype=object)

                                                    0
0   DatetimeIndex(['2019-12-21', '2019-12-22', '20...
1   DatetimeIndex(['2020-02-22', '2020-02-23', '20...
2   DatetimeIndex(['2020-04-04', '2020-04-05', '20...
3   DatetimeIndex(['2020-06-01', '2020-06-02', '20...
4   DatetimeIndex(['2020-07-25', '2020-07-26', '20...
5   DatetimeIndex(['2020-10-31', '2020-11-01', '20...
6   DatetimeIndex(['2020-12-19', '2020-12-20', '20...
7   DatetimeIndex(['2021-03-27', '2021-03-28', '20...
8   DatetimeIndex(['2021-05-22', '2021-05-23', '20...
9   DatetimeIndex(['2021-07-30', '2021-07-31', '20...
10  DatetimeIndex(['2021-10-30', '2021-10-31', '20...
11  DatetimeIndex(['2021-12-24', '2021-12-25', '20...
12  DatetimeIndex(['2022-02-26', '2022-02-27', '20...
13  DatetimeIndex(['2022-04-09', '2022-04-10', '20...
14  DatetimeIndex(['2022-06-04', '2022-06-05', '20...
15  DatetimeIndex(['2022-07-30', '2022-07-31', '20...
16  DatetimeIndex(['2022-10-29', '2022-10-30', '20...
17  DatetimeIndex(['2022-12-24', '2022-12-25', '20...

In [27]:
len(empty)

18

In [ ]:
df = pd.DataFrame(empty, columns=list('abc'))

In [ ]:
empty['dates'] = df[df.columns[0:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
empty

In [26]:
by_sholidays = df_empty['dates']

In [31]:
pd.DataFrame(by_sholidays)

                                                dates
0   2019-12-24,2019-12-27,2020-01-06,2019-12-21,20...
1   2019-12-25,2020-05-22,2020-08-08,2020-02-22,20...
2   2019-12-26,2020-06-12,2020-08-15,2020-04-04,20...
3   2020-01-01,2021-05-14,2021-01-06,2020-06-01,20...
4   2020-04-10,2021-06-04,2022-01-06,2020-07-25,20...
5   2020-04-12,2022-05-27,2022-08-08,2020-10-31,20...
6   2020-05-01,2022-06-17,2022-08-15,2020-12-19,20...
7   2020-05-21,2021-03-27,2021-04-11,2021-05-22,20...
8   2020-06-01,2021-05-22,2021-06-06,2021-07-03,20...
9   2020-06-11,2021-07-30,2021-09-13,2021-10-09,20...
10  2020-10-03,2021-10-30,2021-11-07,2021-12-24,20...
11  2020-11-01,2021-12-24,2022-01-09,2022-04-09,20...
12  2020-12-24,2022-02-26,2022-03-06,2022-06-25,20...
13  2020-12-25,2022-04-09,2022-04-24,2022-10-01,20...
14  2020-12-26,2022-06-04,2022-06-19,2022-12-23,20...
15                   2020-12-31,2022-07-30,2022-09-12
16                   2021-01-01,2022-10-29,2022-11-06
17                   2021-04-02,2022-12-24,2023-01-08

In [15]:
#a test for data range function
pd.date_range(start='2019-12-21', end='2020-01-06')

DatetimeIndex(['2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
               '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01',
               '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
               '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
# wasn't working well, other solution above
by_school = pd.Series(data=df, index=['start_sholiday_by', 'end_sholiday_by'])